# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes e segredos
.env
venv/
.venv/

# Editor
.vscode/

# Logs
*.log

# Assets
/Assets/

# Build artifacts
build/
dist/
deb_build/
Polytes.AppDir/

# Pacotes gerados
*.deb
*.AppImage